<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.israel_fl.smartadaptweather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.Settings"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TermsAndConditions"
            android:parentActivityName=".activities.Settings" />
        <activity
            android:name=".activities.About"
            android:parentActivityName=".activities.Settings" />
        <activity
            android:name=".activities.Units"
            android:parentActivityName=".activities.Settings" />
    </application>

</manifest>
